#!/bin/bash

# Use this installation script as an example for easy installation. Copy it to
# `install.sh` and edit the values file names if you need to.

set -v

# Makes sure you use docker image tags for the branch you're working on now
. variables.sh

# Upgrade or install application using the current git branch as docker tag
helm upgrade $releaseName . --install -f values-local.yaml --set initImage.tag=$dockerTag --set image.tag=$dockerTag
